.paginationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 20px auto;
}

.pages button {
    margin: 0 4px;
    padding: 6px 10px;
    border: none;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

.pages .active {
    background: #2a85ff;
    color: white;
}